h1.title {
  text-align: center;
  font-family: Times New Roman, Times, serif;
  color: #fff;
  font-size: 48px;
}

button {
  display: block;
  width: 100%;
  background-color: #f90;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 20px;
  font-size: 24px;
  font-weight: 700;
  color: #fff;
  appearance: none;
  border-radius: 10px;
  transition: .3s;
}